body {
	background-color: var(--pico-muted-color);
	padding: 0;
	min-height: 100vh;
}

body > .container {
	background-color: var(--pico-background-color);
	max-width: 750px;
	padding: 1rem;
	min-height: 100vh;
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 
				0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

header {
	text-align: center;
}

#character-select {
	max-width: 250px;
}

.section {
	display: none;
	border-radius: 8px;
	padding: 1.5rem;
	border: 1px solid var(--pico-muted-color);
}

.section.active {
	display: block;
}